@import "tailwindcss";

@theme inline {
  --color-text-main: #ffffff;
  --color-text-secondary: #d5d4d5;
  --color-bg-main: #212124;
  --color-bg-secondary: #272726;
}

body {
  background: var(--color-bg-main);
  color: var(--color-text-main);
  font-family: Inter, sans-serif;
}
